@use "../../../styles/index.scss" as *;

.bannerIndex {
    padding-top: 92px;
    .content {
        @include fw();
        min-height: 70dvh;
        background: url(./bannerHome.webp);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 40px;
            color: #fff;
        }

        p {
            font-size: 19px;
            color: #fff;
            max-width: 45vw;
            text-align: center;
            margin: 10px 0;
        }

        a {
            padding: 10px 15px;
            border-radius: 20px;
            font-size: 19px;
            background: white;
            color: #000;
            margin: 20px 0 0 0;

        }
    }
}
