@use "../../../styles/index.scss" as *;

.bannerIndex {
    padding-top: 92px;
    .content {
        @include fw();
        min-height: 70dvh;
        background: linear-gradient(to right, black, $black-03);
    }
}
