@use "../../../styles/index.scss" as *;

.bannerIndex {
    padding-top: 92px;
    .content {
        @include fw();
        min-height: 50dvh;
        background: url(./bannerHome.webp);
        background-size: cover;
        background-position:center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 40px;
            color: #fff;
            text-align: center;
            @include m(580px) {
                font-size: 25px;
              }
        }

        p {
            font-size: 22px;
            color: $white-08;
            line-height: 1.2;
            max-width: 40vw;
            text-align: center;
            margin: 10px 0;
            @include m(580px) {
                font-size: 16px;
                max-width: 65vw;
              }
        }

        a {
            padding: 10px 15px;
            border-radius: 30px;
            font-size: 19px;
            background: white;
            color: #000;
            margin: 20px 0 0 0;
            transition: 0.3s all ease;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 0 10px $white-08;
            }
        }
    }
}
